*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    outline: none;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

:root{
    --corPrincipal: #f9ca24;
    --corSecundaria: #111;
}